* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, header .caja-header nav {
  width: 100%;
  height: 100%;
  display: flex; }
  header .caja-header, header .caja-header nav .caja-header {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    header .caja-header img {
      margin-left: 0%; }
    header .caja-header nav {
      background-color: black; }
    header .caja-header .foto-header {
      width: 100%;
      height: 100%;
      margin-right: 0%; }
    header .caja-header .foto-header img {
      width: 100%;
      height: 100%; }
  header .espacio, header .caja-header nav .espacio {
    margin-left: 0px; }
    header .espacio input {
      width: 200px; }
  header .navbar-nav, header .caja-header nav .navbar-nav {
    justify-content: center;
    align-items: center; }
  header .navbar-brand, header .caja-header nav .navbar-brand, header .nav-link, header .caja-header .nav-link {
    color: white;
    margin-left: 0px; }
  header .nav-link, header .caja-header nav .nav-link {
    justify-content: center;
    align-items: center; }
  header .caja1, header .caja-header nav .caja1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: space-evenly; }
  header img, header .caja-header nav img {
    width: 50px;
    height: 50px; }

.my-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 10px, 30px, 30px, 30px;
  width: 100%;
  height: 100%;
  background-color: black; }

img {
  max-width: 100%; }

.container-all {
  margin-top: 0px;
  position: relative;
  max-width: 1050px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden; }

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 1200ms;
  animation-name: autoplay;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%; }

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%; }

.pagination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 1000ms; }

.pagination-items:hover {
  transform: scale(2); }

.pagination-items img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms; }

.pagination-items:hover img {
  opacity: 1;
  transform: scale(1); }

input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0); }

input[id="1"]:checked ~ .pagination .pagination-items[for="1"] {
  background: #fff; }

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0); }

input[id="2"]:checked ~ .pagination .pagination-items[for="2"] {
  background: #fff; }

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0); }

input[id="3"]:checked ~ .pagination .pagination-items[for="3"] {
  background: #fff; }

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100 * 0), 0, 0); }
  66% {
    transform: translate3d(calc(-100 * 1), 0, 0); }
  100% {
    transform: translate3d(calc(-100% * 2), 0, 0); } }

.noticia img {
  width: 100%;
  height: auto;
  margin-left: 0%; }

.pages-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 90%; }

.main {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: black; }
  .main nav ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center; }
  .main div {
    max-width: 2000px; }
  .main section {
    display: flex;
    flex-direction: column; }

.container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px; }

.location-listing {
  width: 100%; }

.location-img img {
  width: 250px;
  height: auto;
  object-fit: fill; }

.formulario {
  margin-top: 0x;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px; }
  .formulario section {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 15px;
    align-items: center; }
  .formulario .form1 {
    background-color: lightgray;
    background-image: url(https://images.unsplash.com/photo-1546083381-2bed38b42cac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG9zJTIwZGUlMjBwYW50YWxsYSUyMGRlJTIwbGElMjBjaXVkYWQlMjBkZSUyMGFsdGElMjBkZWZpbmljaSVDMyVCM258ZW58MHx8MHx8&w=1000&q=80);
    opacity: 3;
    width: 100%;
    height: 100%;
    border-radius: 15%; }
  .formulario .form2 {
    background-color: lightgrey;
    background-image: url(https://us.123rf.com/450wm/michalbalada/michalbalada1903/michalbalada190300907/134977462-vista-panor%C3%A1mica-del-atardecer-o-el-amanecer-en-las-impresionantes-monta%C3%B1as-de-las-islas-lofoten-nor.jpg?ver=6);
    margin: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15%; }

footer {
  width: 100%;
  height: auto; }

.footer-clases {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 0;
  margin: 0; }
  .footer-clases div {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.iconos-redes {
  margin-bottom: 0;
  padding: 0; }

@media only screen and (max-width: 980px) {
  header, header .caja-header nav {
    width: 100%;
    height: 100%; }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%; }
  .nav-link {
    font-size: medium; }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .caja1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .caja1 img {
      margin-left: 10px;
      margin-right: 10px; } }

@media only screen and (max-width: 580px) {
  header, header .caja-header nav {
    width: 100%;
    height: 100%;
    display: flex; }
    header .caja-header, header .caja-header nav .caja-header {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      header .caja-header img {
        margin-left: 0%;
        height: 100%;
        width: 100%; }
      header .caja-header nav {
        width: 100%;
        height: 100%;
        background-color: black; }
      header .caja-header .foto-header {
        width: 100%;
        height: 100%;
        margin-right: 0%; }
      header .caja-header .foto-header img {
        width: 100%;
        height: 100%; }
      header .caja-header .navbar-nav {
        justify-content: center;
        align-items: center; }
      header .caja-header .navbar-brand, header .caja-header .nav-link {
        color: white;
        margin-left: 0px; }
      header .caja-header .nav-link {
        justify-content: center;
        align-items: center; }
      header .caja-header .caja1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-content: space-evenly; }
      header .caja-header img {
        width: 50px;
        height: 50px; } }

.main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.pages-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 100%;
  max-width: auto; }

.container {
  display: flex;
  flex-direction: column; }

.formulario section {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  align-items: center; }

body {
  background-color: black; }
