header {
        @include tamaño-img;
        display: flex;
        
        

        .caja-header{
                @include tamaño-img;
                overflow: hidden;
                @include propiedades-column;
                img {
                margin-left:0%;       
                };
                nav{
                @extend header;
                background-color: rgb(0, 0, 0);
        }
        .foto-header{
                @include tamaño-img;
                margin-right: 0%;
        }

        .foto-header img{
                @include tamaño-img;
        }
        

}
.espacio {
        margin-left: 0px;
        input {
        width: 200px;
        }
}
.navbar-nav{
        justify-content: center;
        align-items: center;
}
.navbar-brand{
        color: white;
        margin-left: 0px
}

.nav-link{
        @extend .navbar-brand;
        justify-content: center;
        align-items: center;
}

.caja1 {
        @include propiedades-flex;
        @include tamaño-img;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-content:space-evenly ;
        
}
        img {
                width: 50px;
                height: 50px;
        }
}