@media only screen and (max-width: 580px) {
    header {
        @include tamaño-img;
        display: flex;
        
        
        .caja-header{
                @include tamaño-img;
                overflow: hidden;
                @include  propiedades-column;
                img {
                margin-left:0%;
                @include tamaño-img;      
                };
                nav{
                @include tamaño-img;
                background-color: rgb(0, 0, 0);
        }
        .foto-header{
                @include tamaño-img;
                margin-right: 0%;
        }

        .foto-header img{
                @include tamaño-img;
        }
        

.navbar-nav{
        justify-content: center;
        align-items: center;
}
.navbar-brand{
        color: white;
        margin-left: 0px
}

.nav-link{
        @extend .navbar-brand;
        justify-content: center;
        align-items: center;
}

.caja1 {
        @include  propiedades-flex;
        @include tamaño-img;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-content:space-evenly ;
        
}
        img {
                width: 50px;
                height: 50px;
        }
}
    }

    
    .main {
        @include  propiedades-column;
    align-items: center;
    
    nav ul {
        @include  propiedades-flex;
        justify-content: center;
    }

        .pages-principal{
                @include  propiedades-column;
            justify-content: space-around;
            max-height: 100%;
            max-width: 100%;
        }
        .container {
                @include  propiedades-column;
        }

        .cartita {
                @include  propiedades-column;
        }
        .formulario section{
                @include  propiedades-column;
            align-content: center;
            padding: 15px;
            align-items: center;
        }
    }
}