@media only screen and (max-width: 980px) {
    header {
        @include tamaño-img;
        
    
    .navbar {
        @include  propiedades-flex;
        align-items: stretch;
        justify-content: stretch;
        @include tamaño-img;
        ;
    }

    .nav-link{
        font-size: medium;
    }
}
    .main {
        @include  propiedades-column;
    align-items: center;
    justify-content: center;

    nav ul {
        @include  propiedades-flex;
        justify-content: center;
        .foto-texto{
            justify-content: center;
            align-items: center;
        }
}
    }

    .formulario section{
        @include  propiedades-column;
    }
    .pages-principal{
        @include  propiedades-column;
    justify-content: center;
    align-items: center;
    @include tamaño-img;
    
    .cartita{
        @include  propiedades-column;
        justify-content: center;
        align-items: center;
        @include tamaño-img;
    }
    .carta{
        @include tamaño-img;
        margin: 0%;
    
    .noticia{
        @include tamaño-img;
        
        
    }
    
    .noticia img{
        @include tamaño-img;
        
    }
    
    .noticia1{
        @include tamaño-img;
    }
}}


    .caja1 {
        @include  propiedades-column;
        align-items: center;
        img{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
